        /* glopal Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --mainTranstion: .5s;
    --mainColor: #19c8fa;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: 10000px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 768px) {
    .container {width: 750px}
}

@media (min-width: 992px) {
    .container {width: 970px}
}

@media (min-width: 1200px) {
    .container {width: 1170px}
}

                /* start compunant  */

/* Main heading compunant */

/* This is code has cmpunant */
/* <div class="main-heading">
<h2>siction</h2>
<p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt</p>
</div> */

.main-heading {
    padding: 50px;
    text-align: center;
}

.main-heading h2 {
    font-size: 34px;
    text-transform: uppercase;
    color: #555;
    margin-bottom: 55px;
    position: relative;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 110px;
    height: 2px;
    background-color: #777;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #777;
}

.main-heading p {
    width: 600px;
    margin: auto;
    color: #777;
    line-height: 1.6;
    font-size: 14px;
}

@media (max-width: 767px) {
    .main-heading p {
        width: 90%
    }
}

                 /* end compunt  */

                /* Start Header */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header .container {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    min-height: 77px;
}

header .container:after {
    content: "";
    width: calc(100% - 30px);
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 15px
}

header .container .logo img {
    width: 150px;
    z-index: 1;
}
                /* navgtion bar */

header .container nov {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .container nov > i {
    font-size: 17px;
    color: #fff;
    cursor: pointer
} 

@media (min-width: 768px) {
    header .container nov > i {display: none}
}

header .container nov i:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 15px;
    width: calc(100% - 30px);
    background-color: rgba(57, 51, 78, 0.4);
}

header .container nov i:hover + ul li a {
    padding: 20px;
}

header .container nov ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    display: none;
}

@media (min-width: 768px) {
    header .container nov ul {
        display: flex;
    }
}

header .container nov ul li a {
    display: block;
    color: #fff;
    padding: 30px 10px;
    transition: var(--mainTranstion);
    text-transform: uppercase;
    cursor: pointer;
    font: 13px bold;
    text-decoration: none;
}

header .container nov ul li a.active,
header .container nov ul li a:hover {
    border-bottom: 1px solid var(--mainColor);
    color: var(--mainColor);
    position: relative;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
}

header .container nov .search {
    width: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    border-left: 1px solid #fff;
    margin-left:40px
}

header .container nov .search i {
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    transition: var(--mainTranstion);
}

header .container nov .search i:hover {
    color: var(--mainColor);
    opacity: .8;
    transform: scale(.9)
}

                /* End header */

                /* Start landing */
.landing {
    color: #fff;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-color: #777;
    background-image: url(../imges/landing.jpg);
    background-size: cover;
}    

.landing .overlay {
    background-color: #a00;
    opacity: .1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.landing .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 65%;
    padding: 20px 40px 20px 100px;
    background-color: rgb(25, 200, 250, .8);
}


.landing .content h1 {
    font-size: 32px;
    line-height: 1.4;
    text-transform: uppercase;
}

.landing .content p {
    line-height: 1.6;
    text-align: justify
}

@media (max-width: 767px) {

    .landing .content {
        width: 100%;
        padding: 20px;
    }

    .landing .content h1 {font-size: 20px; line-height: normal;}
    .landing .content p { font-size: 13px;}
}


.landing .icon-right, .landing .icon-left {
     font-size: 28px;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     padding: 20px;
     background-color: rgb(255 255 255 / 10%);
     cursor: pointer;
}

.landing .icon-right {
    right: 50px
}

.landing .icon-left {
    left: 50px
}

.landing ul {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 80;
}

.landing ul li {
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer
}

.landing ul li:hover,
.landing ul li.active {
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}
                 /* End landing */


