        /* glopal Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --mainTranstion: .5s;
    --mainColor: #19c8fa;
    --color-overlay: #00f;
    --main-padding: 80px;
    --main-opacity-color: rgb(25, 200, 250, 0.7);
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    min-height: 10000px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 768px) {
    .container {width: 750px}
}

@media (min-width: 992px) {
    .container {width: 970px}
}

@media (min-width: 1200px) {
    .container {width: 1170px}
}

                /* start compunant  */

/* Main heading compunant */

/* This is code has cmpunant */
/* <div class="main-heading">
<h2>siction</h2>
<p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt</p>
</div> */

.main-heading {
    padding: 50px;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 0;
}

.main-heading h2 {
    font-size: 34px;
    text-transform: uppercase;
    color: #555;
    margin-bottom: 55px;
    position: relative;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 110px;
    height: 2px;
    background-color: #777;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #777;
}

.main-heading p {
    width: 600px;
    margin: auto;
    color: #777;
    line-height: 1.6;
    font-size: 14px;
}

@media (max-width: 767px) {
    .main-heading p {
        width: 90%
    }
}

                 /* end compunt  */

                /* Start Header */

body > header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header .container {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    min-height: 77px;
}

header .container:after {
    content: "";
    width: calc(100% - 30px);
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 15px
}

header .container .logo img {
    width: 150px;
    z-index: 1;
}
                /* navgtion bar */

header .container nov {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .container nov > i {
    font-size: 17px;
    color: #fff;
    cursor: pointer
} 

@media (min-width: 768px) {
    header .container nov > i {display: none}
}

header .container nov i:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 15px;
    width: calc(100% - 30px);
    background-color: rgba(57, 51, 78, 0.4);
}

header .container nov i:hover + ul li a {
    padding: 20px;
}

header .container nov ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    display: none;
}

@media (min-width: 768px) {
    header .container nov ul {
        display: flex;
    }
}

header .container nov ul li a {
    display: block;
    color: #fff;
    padding: 30px 10px;
    transition: var(--mainTranstion);
    text-transform: uppercase;
    cursor: pointer;
    font: 13px bold;
    text-decoration: none;
}

header .container nov ul li a.active,
header .container nov ul li a:hover {
    border-bottom: 1px solid var(--mainColor);
    color: var(--mainColor);
    position: relative;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
}

header .container nov .search {
    width: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    border-left: 1px solid #fff;
    margin-left:40px
}

header .container nov .search i {
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    transition: var(--mainTranstion);
}

header .container nov .search i:hover {
    color: var(--mainColor);
    opacity: .8;
    transform: scale(.9)
}

                /* End header */

                /* Start landing */
.landing {
    color: #fff;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-color: #777;
    background-image: url(../imges/landing.jpg);
    background-size: cover;
}    

.landing .overlay {
    background-color: var(--color-overlay);
    opacity: .1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.landing .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 65%;
    padding: 20px 40px 20px 100px;
    background-color: rgb(25, 200, 250, .8);
}


.landing .content h1 {
    font-size: 32px;
    line-height: 1.4;
    text-transform: uppercase;
}

.landing .content p {
    line-height: 1.6;
    text-align: justify
}

@media (max-width: 767px) {

    .landing .content {
        width: 100%;
        padding: 20px;
    }

    .landing .content h1 {font-size: 20px; line-height: normal;}
    .landing .content p { font-size: 13px;}
}


.landing .icon-right, .landing .icon-left {
     font-size: 28px;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     padding: 20px;
     background-color: rgb(255 255 255 / 10%);
     cursor: pointer;
}

.landing .icon-right {
    right: 50px
}

.landing .icon-left {
    left: 50px
}

.landing ul {
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 80;
    padding: 0;
}

.landing ul li {
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer
}

.landing ul li:hover,
.landing ul li.active {
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}
                 /* End landing */

                /* start services */

.srvices {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding)
}

.srvices .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 40px
}

.srvices .container .service {
    display: flex;
}

.srvices .container .service i {
    font-size: 34px;
    margin-right: 50px;
    margin-top: 15px;
}

.srvices .container .service .text-serv h3 {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--mainColor);
}

.srvices .container .service .text-serv p {
    font-size: 14px;
    color: #777;
    line-height: 1.6;
    text-align: justify;
}

@media (max-width: 991px) {

    .srvices .container {display: block;}

    .srvices .container .service {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    .srvices .container .service i {
        margin: 0;
        margin-bottom: 25px;
    }

    .srvices .container .service .text-serv p {
        text-align: center;
    }
}
                /* End services */

                /* start design comes */
.design-comes {
    background-image: url(../imges/back-design.jpg);
    background-size: cover;
    color: #fff;
    position: relative;
    height: 70vh;
    overflow: hidden;

}

.design-comes::after {  /*overlay */
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-overlay);
    opacity: .1;
}

.design-comes figure {
    position: absolute;
    bottom: -70px;
    left: 10%;
    z-index: 1;
}

@media (max-width: 991px) {
    .design-comes figure {left: 0%}
}

.design-comes figure img {
}

.design-comes .cuntent {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    width: 50%;
    background-color: var(--main-opacity-color);
    padding: 30px;
}

@media (max-width: 767px) {
    .design-comes .cuntent {width: 100%}
    .design-comes figure {left: -5%}
}

.design-comes .cuntent h2 {
    margin-bottom: 35px;
    text-transform: uppercase;
    font-size: 20px;
}

.design-comes .cuntent ul {
    list-style: none;
}

.design-comes .cuntent ul li {
    position: relative;
    margin-bottom: 15px;
    text-transform: capitalize;
    margin-left: 40px;
}

.design-comes .cuntent ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    position: absolute;
    left: -40px;
    top: 3px;
    font-size: 14px;
}
                /* End design comes */

                /* start portofolio */
.portfolio {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding)
}

.portfolio ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.portfolio ul li {
    padding: 6px 12px;
    text-transform: uppercase;
    cursor: pointer;
}

.portfolio ul li.active,
.portfolio ul li:hover {
    background-color: var(--mainColor);
    color: #fff;
}

.port-imge {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.port-imge figure {
    flex-basis: 25%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    transition: var(--mainTranstion);
    cursor: pointer;
}

.port-imge figure:hover .text {
    z-index: 2;
    bottom: 0;
    background: #fff;
    width: 100%;
    transition: var(--mainTranstion);
}

.port-imge figure:hover img {
    transform: scale(1.2) rotate(10deg);
    transition: var(--mainTranstion);
}

.port-imge figure img {
    width: 100%;
    height: 250px;
}

@media (max-width: 991px) {
    .port-imge figure {flex-basis: 50%;}
    .port-imge figure img {height: 350px}
}

@media (max-width: 767px) {
    .port-imge figure {flex-basis: 100%;}
    .port-imge figure img {height: 400px}
}

.port-imge figure .text {
    position: absolute;
    padding: 25px
}

.port-imge figure .text h3 {  
    margin-bottom: 8px
}

.port-imge figure .text p {  
    font-size: 14px;
    color: var(--mainColor)
}

.portfolio .buttom {
    width: fit-content;
    padding: 10px 25px;
    background-color: var(--mainColor);
    color: #fff;
    margin: 25px auto 0;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
}

                /* End portofolio */

                /* Start video */

.video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-overlay);
    opacity: .2;
}

.video video {
    width: 100%
}

.video .text {
    position: absolute;
    padding: 30px;
    background-color: rgb(25, 200, 250, 0.7);
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 1;
    max-height: 100%;
    overflow: hidden;
}

.video .text h2 {
    text-transform: uppercase;
}

.video .text p {
    margin: 25px 0;
}

.video .text button {
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    background: #333;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

                /* End video */

                /* start about-us */

.about-us {
    padding-top: var(--main-padding);
}

.about-us figure {
    width: 60%;
    margin: auto;
    overflow: hidden;
}

.about-us figure img {
    width: 100%;
    position: relative;
    bottom: -130px;
    margin-top: -130px;
}

@media (max-width: 991px) {
    .about-us figure img {
        bottom: -75px;
        margin-top: -75px;
    }
}

@media (max-width: 767px) {
    .about-us figure img {
        bottom: -50px;
        margin-top: -50px;
    }
}

                /* End about-us */

                /* Start status */

.status {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../imges/Status.jpg);
    background-size: cover;
}

.status .container {
    padding: 25px;
    color: #fff;
    background-color: var(--main-opacity-color);
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.status .container .stat {
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .status .container .stat {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .status .container .stat {
        flex-basis: 25%;
    }
}

.status .container .stat i {
    width: fit-content;
    margin: 0 auto 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status .container .stat section {
    font-size: 40px;   
}

.status .container .stat p {
    margin: 20px 0;
}

                /* End status */

                /* start  Monials & skills */

.monials-skills{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding)
}

.monials-skills .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "mon mon mon mon mon - - skill skill skill skill skill";
}

@media (max-width: 991px) {
    .monials-skills .container {
        display: block;
    }
}

@media (max-width: 1199px) {
    .monials-skills .container {
        grid-template-areas: "mon mon mon mon mon mon - skill skill skill skill skill";
    }
}

/* style two sections [monials & skills] */
.monials-skills .container > div section {
    margin-bottom: 50px;
    text-align: center;
}

.monials-skills .container > div section h3 {
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: normal;
}

.monials-skills .container > div section p {
    line-height: 1.6;
    color: #777;
}

    /* syle article two divs */

.monials-skills .container .monials {
    grid-area: mon;
}

.monials-skills .container .monials .mon {
    display: flex;
    margin-bottom: 35px;
    align-items: center;
}

.monials-skills .container .monials .mon img {
    width: 110px;
    border-radius: 50%;
}

.monials-skills .container .monials .mon .text {
    margin-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    text-align: justify;
    line-height: 1.6;
}

@media (max-width: 991px) {
    .monials-skills .container .monials {
        margin-bottom: 25px;
    }
}

@media (max-width: 767px) {
    .monials-skills .container .monials .mon {
        display: block;
        text-align: center;
    }

    .monials-skills .container .monials .mon .text {
        text-align: center;
        margin-left: 0;
    }
}

.monials-skills .container .monials .mon .text p {
    color: #777;
    text-align: right;
    font-size: 14px;
    font-style: italic ;
}

.monials-skills .container .monials ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.monials-skills .container .monials ul li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #333;
    margin-left: 10px;
    cursor: pointer;
}

.monials-skills .container .monials ul li:nth-of-type(2),
.monials-skills .container .monials ul li:hover {
    background-color: var(--mainColor);
    border-color: var(--mainColor)
}


.monials-skills .container .skills {
    grid-area: skill;
}

.monials-skills .container .skills .pogress {
    margin-bottom: 25px;
}

.monials-skills .container .skills h4 {
    margin-bottom: 12px;
    text-transform: uppercase;
}

.monials-skills .container .skills .prog {
    height: 35px;
    background: #eee;
}

.monials-skills .container .skills .prog span {
    display: block;
    height: 35px;
    background-color: var(--mainColor); 
    position: relative;
}

.monials-skills .container .skills .prog span::before {
    content: attr(data-progress);
    position: absolute;
    color: #fff;
    background-color: #333;
    padding: 5px;
    top: -40px;
    right: 0;
    transform: translateX(50%);
}

.monials-skills .container .skills .prog span::after {
    content: "";
    border: 10px solid;
    border-color: #333 transparent transparent transparent;
    position: absolute; 
    right: 0;
    transform: translate(50%, -70%);

}
                /* End  Monials & skills */

                /* Start Quote  */

.quote {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../imges/quote.jpg);
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    color: #fff
}       

.quote q {
    font-size: 40px;
    display: block;
    margin-bottom: 25px;
}

                /* End Quote  */

                /* start Pricing */

.pricing {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding)
}

.pricing .table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
}

.pricing .table > section {
    background-color: #fcfcfc;
    text-align: center;
}

.pricing .table header {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid var(--mainColor);
    border-bottom: 1px solid var(--mainColor);
}

.pricing .table header h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 25px;
}

.pricing .table header span {
    font-size: 40px;
    font-weight: bold;
}

.pricing .table header span::before {
    content: "$";
    font-size: 16px;
    position: relative;
    top: -16px;
    left: -5px;
}

.pricing .table header span::after {
    content: "/mo";
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    right: -5px;
}

.pricing .table  ul {
    list-style: none;
    border-bottom: 1px solid var(--mainColor)
}

.pricing .table  ul li {
    width: fit-content;
    margin: auto;
    text-transform: capitalize;
    font-size: 14px;
    padding: 25px 10px;
}

.pricing .table  ul li:not(:last-of-type) {
    border-bottom: 1px solid var(--mainColor);
}

.pricing .table  .button {
    padding: 15px 25px;
    border: 2px solid var(--mainColor);
    width: fit-content;
    margin: 30px auto 0;
    border-bottom: none;
    cursor: pointer;
    text-transform: capitalize;
}

.pricing .table section:first-of-type .button {border-right: none}
.pricing .table  section:nth-last-of-type(2) .button {border-left: none}

.pricing .container > p {
    margin-top: 70px;
    font-size: 20px;
    color: #333;
    text-align: center;
}

.pricing .container > p + button {
    display: block;
    margin: 25px auto 0;
    padding: 12px 20px;
    border: none;
    outline: none;
    background: var(--mainColor);
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
}

                /* End Pricing */

                /* Start supscrip */

.supscrip {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../imges/po-6.jpg);
    background-size: cover;
}

                /* End supscrip */